.widget-bootstrap-table {
  th[data-field=_actions], .entity-actions {
    width: 1%;
    white-space: nowrap;
  }
}

.widget-tree-table {
  .tree-field-th-_actions, .tree-field-_actions {
    width: 1%;
    white-space: nowrap;
  }
}
